@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=PT+Serif:wght@400;700&display=swap');

* {
    margin:0;
    padding: 0;
    border: 0;
}

/* --------------------------------------------Colours */

header {
    background-color: black;
}

footer {
    background-color: black;
    color: #85898c;
}


/* --------------------------------------------Header */

body {
    font-family: "Roboto", sans-serif;
}

#name {
    display: flex;
    justify-content: center;
    font-family: "PT-Serif", sans-serif;
    color: #85898c;
    font-weight: bold;
    letter-spacing: 5px;
}
/*
#name {
    font-family: "PT-Serif", sans-serif;
    color: #85898c;
    text-align: center;
    font-size: 260%;
    letter-spacing: 5px;
    font-weight: bold;
    padding-bottom: 10px;
} */

#social-links-header li a i {
    width: 30px;
    height: 30px;
    padding: 15px 10px;
    margin-right: 10px;
    font-size: 120%;
    border-radius: 50%;
    color: #85898c;
}

#social-links-header:hover {

}

.menu a {
    color: #85898c;
}

/* --------------------------------------------Footer */

footer {
    margin: 0px;
    height: auto;
}

.footer-left {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.policy {
    background-color: #a3001e;
    background-size: 6px 12px;
    margin-left: 20px;
    text-decoration: none;
}

.policy a {
    color: #85898c;
    display: inline-block;
    padding: 0 6px;
}

.rights {
    font-size: 70%;
    margin-left: 20px
}

.footer-center {
    margin-top: 20px;
}

.social-links-footer {
    text-align: center;
}

.social-links-footer i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links-footer li a i {
    width: 30px;
    height: 30px;
    padding: 15px 20px;
    font-size: 120%;
    border-radius: 50%;
    color: #85898c;
}

.footer-right {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.host {
    display: flex;
    justify-content: center;
}

.host-link {
    display: flex;
    justify-content: center;
}

.host a {
    color: #85898c;
    text-decoration: underline;
}